.form-root {
	button.show-loading {
		background-image: url('/assets/images/dots.svg');
		background-repeat: no-repeat;
		background-position: 10px center;
		background-size: 55px;

		&.loader-center {
			background-position: center center;
		}

		&.loader-hide-text {
			background-position: center center;
			span {
				visibility: hidden;
			}
		}
	}

}


// Skeleton Loader Styles
.skeleton {
    background: linear-gradient(
      90deg,
      #f0f0f0 0%,
      #e0e0e0 20%,
      #f0f0f0 40%,
      #f0f0f0 100%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s ease-in-out infinite;
    border-radius: 4px;
  }
  
  .skeleton-row {
    &:hover {
      background: white !important;
    }
  
    .skeleton-image {
      width: 48px;
      height: 48px;
      border-radius: 8px;
    }
  
    .skeleton-text {
      height: 16px;
      width: 70%;
      max-width: 150px;
    }
  
    .skeleton-text-sm {
      height: 16px;
      width: 50%;
      max-width: 80px;
    }
  }
  
  @keyframes skeleton-loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }