<div class="forgot-wrapper">
    <div class="forgot-left">
        <img class="login-left-image" src="assets/images/login-background.png" alt="Inventory Logo" />
    </div>
  
    <div class="forgot-right">
      <div class="forgot-box">
        <div class="logo">
          <img src="/assets/images/logo.png" alt="Inventory Logo" />
        </div>

        <div class="back-button">
          <span class="back-icon">←</span>
          <a routerLink="/login">Back</a>
        </div>

        <h2 class="forgot-title">Forgot Password</h2>
        <p class="forgot-subtitle">
          Enter your registered email address. We'll send you a code to reset your password.
        </p>

        <!-- Form -->
        <form class="forgot-form">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              id="email"
              placeholder="you@example.com"
              required
            />
          </div>
          <button type="submit" class="login-btn">Send OTP</button>
        </form>
      </div>
    </div>
</div>  