<div class="forgot-wrapper">
    <div class="forgot-left">
        <img class="login-left-image" src="assets/images/login-background.png" alt="Inventory Logo" />
    </div>
  
    <div class="forgot-right">
      <div class="forgot-box">
        <div class="logo">
          <img src="/assets/images/logo.png" alt="Inventory Logo" />
        </div>

        <div class="back-button">
          <span class="back-icon">←</span>
          <a routerLink="/login">Back</a>
        </div>

        <h2 class="text-3xl font-bold text-gray-900 mb-3 pb-3 border-b-4 border-blue-500 inline-block">Forgot Password</h2>
        <p class="text-sm text-gray-500 mb-8 mt-4 leading-relaxed">
          Enter your registered email address. we'll send you a code to reset your password.
        </p>

        <!-- Form -->
        <form class="forgot-form">
          <div class="form-group">
            <input
              type="email"
              id="email"
              placeholder=" "
              required
              class="floating-input"
            />
            <label for="email" class="floating-label">
              Email Address
            </label>
          </div>
          <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white rounded-lg py-3 px-3 text-base font-medium cursor-pointer transition-colors duration-200">Send OTP</button>
        </form>
      </div>
    </div>
</div>  