:host {
  flex: 1;
  display: flex;
}

.image-container {
    flex: 1;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 20px 20px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-panel {
    max-width: 100%;
    height: auto;
  }
  