<div class="auth-wrapper">
    <app-image-panel></app-image-panel>
  
    <div class="auth-right">
      <div class="auth-box">
        <div class="auth-logo">
          <img src="/assets/images/logo.png" alt="Inventory Logo" />
        </div>
  
        <h3 class="auth-title">Create an account</h3>
        <p class="auth-subtitle">Please sign up here</p>
  
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
            <div class="auth-form-group">
              <label>Name</label>
              <input type="text" id="name" formControlName="name" placeholder="Enter name" class="auth-input" />
              <div *ngIf="fc_name.invalid && fc_name.touched" class="auth-error-message">
                <p *ngIf="fc_name.hasError('required')">Name is required</p>
              </div>
            </div>
    
            <div class="auth-form-group">
              <label>Email Address</label>
              <input type="email" id="email" formControlName="email" placeholder="you@example.com" class="auth-input" />
              <div *ngIf="fc_email.invalid && fc_email.touched" class="auth-error-message">
                <p *ngIf="fc_email.hasError('required')">Email is required</p>
                <p *ngIf="fc_email.hasError('email')">Invalid email</p>
              </div>
            </div>
    
            <div class="auth-form-group">
              <label>Password</label>
              <input type="password" id="password" formControlName="password" placeholder="Enter password" class="auth-input" />
              <div *ngIf="fc_password.invalid && fc_password.touched" class="auth-error-message">
                <p *ngIf="fc_password.hasError('required')">Password is required</p>
              </div>
            </div>
    
            <button type="submit" class="auth-btn" [disabled]="form.invalid">Sign up</button>
            <p class="text-center text-sm text-gray-500 mt-2">Already have an account? <a routerLink="/" class="text-blue-500 hover:text-blue-700">Login</a></p>
          </form>
      </div>
    </div>
</div>